#projects {
  background: var(--background-color);
}

.card {
  border: none;
}

.technologies {
  list-style: none;
}

.technology {
  font-size: 0.8rem;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  padding: 0.12rem 0.25rem;
  font-family: 'Lato', sans-serif, 'Times New Roman';
  background-color: transparent;
  transition: all 1.5s ease-in-out;
}

.card__left .img__container {
  width: 97%;
  position: relative;
  display: inline-block;
  box-shadow: inset 0 0 1px 0 var(--frame-color), 0 0 1px 4px var(--frame-color);
  overflow: hidden;
}

.card__left .img__container span {
  position: absolute;
  bottom: -7rem;
  left: 0;
  width: 100%;
  height: 2rem;
  background: var(--transparent-bg-overlay);
  color: var(--text-color);
  text-align: center;
  font-family: 'Arvo', serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    monospace;
  font-weight: bold;
  transition: all 1.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .card__left:hover span {
    bottom: 0;
  }
}

.card__left .img__container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 1.5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

.horizontal__card:hover .img__container > img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.card__right {
  background-color: transparent;
  padding: 0.5rem;
  padding-bottom: 0;
  transition: all 1.5s ease-in-out;
}

.horizontal__card:hover .card__right {
  background-color: var(--frame-color);
}

.horizontal__card:hover .tech .technology {
  background-color: var(--frame-color);
}

.right__card__body {
  padding: 0;
}

.right__card__title {
  font-family: 'Arvo', serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    monospace;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1rem;
}

.right__card__text {
  max-height: 220px;
  overflow: auto;
  padding-right: 15px !important;
  margin-bottom: 15px !important;
  font-family: 'Lato', sans-serif, 'Times New Roman';
  font-size: 1rem;
  scrollbar-width: thin; /* for Firefox */
  text-align: justify;
  word-break: break-word;
}

/* Custom scrollbar for WebKit (Chrome, Edge, Safari) */
.right__card__text::-webkit-scrollbar {
  width: 6px;
}

.right__card__text::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.right__card__text::-webkit-scrollbar-track {
  background: transparent;
}

.projects__container {
  padding-top: 1rem;
  padding-bottom: 2rem;

}

.inner__left {
  width: 93%;
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: top;
  text-align: center;
}

.links__panel {
  top: -20px;
  right: 0;
  background-color: var(--frame-color);
  padding: 5px;
  width: 60px;
  height: 120px;
  padding: 10px;
  border: 1px solid var(--frame-color);
  border-radius: 5px;
  box-shadow: var(--shadow-light), var(--shadow-dark);
}

.source__code__icon,
.live__app__icon {
  font-size: 2.2rem;
  padding: 5px;
  transition: all 0.25s ease-in-out;
  border-radius: 50%;
  border: 1px solid transparent;
}

.source__code__icon:hover,
.live__app__icon:hover {
  border-color: transparent;
  box-shadow: 0 0 3px 3px var(--primary-color-01);
}

.underline-title {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.underline-title::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 50%;
  height: 5px;
  background: var(--primary-color);
  opacity: 0.5;
}

.live__app__link,
.source__code__link {
  color: var(--text-color)
}

.live__app__link:hover .live__app__icon,
.source__code__link:hover .source__code__icon {
  color: var(--text-color)
}
