#projects {
  background: var(--background-color);
}

.card {
  border: none;
}

.technologies {
  list-style: none;
}

.technology {
  font-size: 12px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
  font-family: 'Lato', sans-serif, 'Times New Roman';
}

.card__left .img__container {
  position: relative;
  display: inline-block;
  box-shadow: inset 0 0 1px 0 var(--frame-color), 0 0 1px 4px var(--frame-color);
  overflow: hidden;
}

.card__left .img__container span {
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 100%;
  height: 2rem;
  background: var(--transparent-bg);
  color: var(--text-color);
  text-align: center;
  font-family: 'Arvo', serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    monospace;
  font-weight: bold;
  font-size: 18px;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .card__left:hover span {
    bottom: 0;
  }
}

.card__left .img__container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 1.5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

.horizontal__card:hover .img__container > img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.card__right {
  background: transparent;
  padding: 0.5rem;
  padding-bottom: 0;
}

.card__right {
  background-color: transparent;
  transition: all 1.5s ease-in-out;
}

.horizontal__card:hover .card__right {
  background-color: var(--frame-color);
}

.right__card__body {
  padding: 0;
}

.right__card__title {
  text-align: center;
  font-family: 'Arvo', serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    monospace;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.right__card__text {
  max-height: 195px;
  overflow: auto;
  padding: 0 !important;
  font-family: 'Lato', sans-serif, 'Times New Roman';
  font-size: 16px;
  scrollbar-width: none;
}

/*hide scrollbar*/
::-webkit-scrollbar {
  display: none;
}

.projects__container {
  padding-bottom: 2rem;
}

.inner__left {
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: top;
  text-align: center;
  padding-left: 5px;
}

.live__app__icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  filter: brightness(var(--brightness)) invert(var(--invert));
  border-color: rgb(24, 23, 23);
}

.source__code__icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: brightness(var(--brightness)) invert(var(--invert));
  border-color: #000;
}

.live__app__link:hover {
  box-shadow: 0 0 5px 3px var(--primary-color);
}

.source__code__link:hover {
  box-shadow: 0 0 5px 3px var(--primary-color);
}

@media (max-width: 576px) {
  .horizontal__card {
    padding-left: 20px;
  }
}
