#contact {
  z-index: 1;
  background: transparent;
}

.contact__content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.content__wrapper {
  background: var(--background-color);
  box-sizing: border-box;
  border: 1px solid var(--frame-color);
  border-radius: 5px;
}

.send__btn {
  color: var(--text-color);
  font-size: 1.07rem;
  font-weight: normal;
  padding: 0.75rem;
  border-radius: 0;
  border: 1px solid var(--text-color);
}

.send__btn:hover,
.send__btn:focus {
  /* background-color: var(--background-color); */
  color: var(--text-color) !important;
  border: 1px solid transparent !important;
  box-shadow: 0 0 3px 3px var(--primary-color); 
}

.send__btn:disabled {
  background-color: var(--frame-color);
  color: var(--text-black);
  border: 1px solid var(--text-color);
  border-radius: 0;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.send__btn:disabled:hover {
  border: 1px solid var(--text-color) !important;
  cursor: not-allowed;
  background-color: var(--frame-color)
}

.form__group {
  margin-bottom: 1rem;
  transition: all 0.3s;
}

.form__label {
  font-size: 0.8rem;
  display: block;
  color: var(--text-color);
  pointer-events: none;
  opacity: 1;
  transform: translateY(-1.7rem);
  transform-origin: 0 0;
  transition: all 0.3s;
  margin-bottom: 1.5rem;
}

.form__control {
  box-shadow: none;
  background-color: transparent;
  color: var(--text-color);
  font-family: 'Lato', sans-serif, 'Times New Roman';
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid var(--frame-color);
  width: 100%;
  transition: all 0.5s;
  padding: 0rem;
}

.form__control:-webkit-autofill,
.form__control:-webkit-autofill:hover,
.form__control:-webkit-autofill:focus,
.form__control:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
  box-shadow: 0 0 0 0 var(--background-color) inset !important;
  -webkit-box-shadow: 0 0 0 0 var(--background-color) inset !important;
  -webkit-text-fill-color: var(--text-color);
}

.form__control::placeholder {
  color: transparent;
}

.form__control:focus {
  box-shadow: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1.3px solid var(--primary-color);
  color: var(--text-color);
}

.form__group:focus-within {
  transform: scale(1.05, 1.05);
}

.form__group textarea {
  resize: none;
}

.form__control:focus + .form__label,
.form__control:not(:placeholder-shown) + .form__label {
  transform: translateY(-3.3rem) scale(0.8);
  font-size: 1.2rem;
  color: var(--primary-color);
}

.subject__label__ref {
  position: relative;
  top: 0;
  left: 0;
}

.form__group textarea:focus + .form__label {
  position: absolute;
  top: 35px;
  left: 4px;
}

.form__group textarea:not(:placeholder-shown) + .form__label {
  position: absolute;
  top: 35px;
  left: 4px;
}

.error__message {
  color: #ff5050;
  padding: 0.5em 0;
  height: 1em;
  position: absolute;
  top: 36px;
  font-size: 0.75em;
}

.textarea__error__msg {
  top: 22px;
}

.error {
  border-bottom: 1.3px solid #ff5050;
}

.toast__class {
  font-size: 14px;
  padding: 0px 5px 0px 5px !important;
}

.Toastify__toast-body {
  padding: 0px 5px 0px 5px !important;
  margin: 5px 0px !important;
}

.Toastify__toast {
  min-height: 52px !important;
}

.Toastify__toast-container--bottom-right {
  bottom: 0px !important;
  right: 1px !important;
}


