#contact {
  min-height: 100vh;
  z-index: 1;
  background: transparent;
}

.contact__content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.content__wrapper {
  background: #f0f0f0ed;
  box-sizing: border-box;
  box-shadow: inset 0 0 1px 0 #202020, 0 0 1px 1px #202020;
  border-radius: 5px;
}

.contact {
  text-align: center;
  text-transform: uppercase;
}

.send__btn {
  background: none;
  border: 0.1rem solid #202020;
  color: #202020;
  font-weight: bold;
  width: 100%;
  display: block;
}

.send__btn:hover,
.send__btn:focus,
.send__btn:active {
  background: #202020;
  border: 0.1rem solid #202020;
  color: #e5e5e5;
}

.btn-primary:focus,
.btn-primary.focus,
.btn:focus,
.btn.focus {
  box-shadow: none;
}

.form__group {
  margin-bottom: 1rem;
  transition: all 0.3s;
}

.form__label {
  font-size: 0.8rem;
  display: block;
  color: #202020;
  pointer-events: none;
  opacity: 1;
  transform: translateY(-1.7rem);
  transform-origin: 0 0;
  transition: all 0.3s;
  margin-bottom: 1.5rem;
}

.form__control {
  box-shadow: none;
  background-color: transparent;
  color: #202020;
  font-family: Courier, monospace, 'Times New Roman', Times, Gotham, Helvetica,
    Arial, sans-serif, serif;
  border-radius: 0px;
  border-color: #202020;
  border-style: none none solid none;
  width: 100%;
  transition: all 0.5s;
  padding: 0rem;
}

.form__control:-webkit-autofill,
.form__control:-webkit-autofill:hover,
.form__control:-webkit-autofill:focus,
.form__control:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
  box-shadow: 0 0 0 0 #f0f0f0dc inset !important;
  -webkit-box-shadow: 0 0 0 0 #f0f0f0dc inset !important;
  -webkit-text-fill-color: #202020;
}

.form__control::placeholder {
  color: transparent;
}

.form__control:focus {
  box-shadow: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #249524;
  color: #202020;
}

.form__group:focus-within {
  transform: scale(1.05, 1.05);
}

.form__group textarea {
  resize: none;
}

.form__control:focus + .form__label,
.form__control:not(:placeholder-shown) + .form__label {
  transform: translateY(-3.3rem) scale(0.8);
  font-size: 1.2rem;
  color: #249524;
}

.subject__label__ref {
  position: relative;
  top: 0;
  left: 0;
}

.form__group textarea:focus + .form__label {
  position: absolute;
  top: 30px;
  left: 0;
}

.form__group textarea:not(:placeholder-shown) + .form__label {
  position: absolute;
  top: 30px;
  left: 0;
}
