#experience {
  background: var(--background-color);
}

.button__group {
  box-shadow: inset 0 0 1px 0 var(--text-color), 0 0 1px 1px var(--text-color);
}

.experience__btn {
  font-family: 'Lato', sans-serif, 'Times New Roman';
  border-top: none;
  border-bottom: none;
  border-color: var(--text-color);
  background-color: transparent;
  color: var(--text-color);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.experience__btn:first-child {
  padding-left: 0.5rem;
  border-left: none;
}

.experience__btn:last-child {
  padding-right: 0.5rem;
  border-right: none;
}

.btn-primary:hover {
  color: var(--daisy);
  background: transparent;
  border-color: var(--text-color);
  font-weight: bold;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
  color: var(--primary-color);
  outline: none;
  background: var(--buttonHover-color);
  border: none;
  box-shadow: none;
  font-weight: bold;
}

.experience__wrapper {
  background: transparent;
  box-sizing: border-box;
  box-shadow: inset 0 0 1px 0 var(--text-color), 0 0 1px 1px var(--text-color);
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.roles {
  font-size: 18px;
  font-family: 'Arvo', serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    monospace;
  font-weight: bold;
}

.experience > .at {
  font-size: 18px;
  color: var(--primary-color);
  font-family: 'Lato', sans-serif, 'Times New Roman';
}

.company__name {
  color: var(--daisy);
  font-family: 'Arvo', serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    monospace;
  font-weight: bold;
}

.date {
  font-size: 16px;
  font-family: 'Lato', sans-serif, 'Times New Roman';
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.experiences__list {
  list-style-type: circle;
  padding-left: 0;
  font-family: 'Lato', sans-serif, 'Times New Roman';
}

.banner {
  height: 10rem;
}

.cv__link__2 {
  font-size: 28px;
  background-color: transparent;
  color: var(--text-color);
  border: 0.1px solid var(--background-color);
  box-shadow: inset 0 0 1px 0 var(--text-color), 0 0 1px 2px var(--text-color);
  font-family: 'Arvo', serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    monospace;
  font-weight: normal;
  transition: font-size 0.1ms linear;
  transition: background-color 0.2s linear;
}

.cv__link__2:hover,
.cv__link__2:focus,
.cv__link__2:active {
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  outline: 0;
  box-shadow: 0 0 3px 3px var(--primary-color);
  font-weight: bold;
  transition: font-size 0.1ms linear;
  transition: background-color 0.2s linear;
}

.download__icon__2 {
  height: 45px;
  width: auto;
  position: relative;
  top: 2px;
  right: 0;
  filter: brightness(var(--brightness)) invert(var(--invert));
}

/*react-transition-group css*/
/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 5000ms linear;
}

.fade-exit-done {
  opacity: 0;
}
