.navbar {
  background: transparent;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: background 250ms ease-in;
}

.nav-link {
  padding-bottom: 0;
}

.logo {
  width: 7rem;
  object-fit: contain;
}

.nav-links {
  position: relative;
  transition: 0.5s;
  color: #202020;
  margin: 0 0.2rem;
  padding: 0.3rem 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: #202020;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.nav-links:hover {
  color: #202020;
  text-decoration: none;
}

.nav-links:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar .active {
  background: #202020;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  color: #f0f0f0ed;
  transition: all 200ms ease-out;
}

.cv__link {
  position: relative;
  top: 5px;
  background-color: transparent;
  color: #202020;
  border: none;
}

.cv__link:hover,
.cv__link:focus,
.cv__link:active {
  background-color: transparent;
  color: #202020;
  border-color: transparent;
  outline: 0;
  box-shadow: inset 0 0 1px 0 #202020, 0 0 1px 1px #202020;
}

.download__icon {
  height: 30px;
  width: auto;
  position: relative;
  top: 0;
  right: 0px;
  filter: brightness(var(--brightness)) invert(var(--invert));
  border-color: #000;
}
