.footer__content {
  height: 5rem;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  box-shadow: 0 -1px 4px var(--frame-color);
}

@media (max-width: 991px) {
  .footer__content {
  height: 6rem;
  }
}

.footer__social__content {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.footer__social__content > li > a:hover {
  box-shadow: 0 0 3px 3px var(--primary-color-01);
}

.footer__copyright {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

@media  (max-width: 991px) {
  .footer__copyright {
  margin-top: 1rem;
 }
}