#experience {
  min-height: 100vh;
}

.experience__btn {
  border-color: #202020;
  background-color: transparent;
  color: #202020;
}

.experience__btn:first-child {
  padding-left: 0.5rem;
}

.experience__btn:last-child {
  padding-right: 0.5rem;
}

.experience__btn:hover {
  color: #b96c00;
}

.experience__btn:focus,
.experience__btn:active {
  color: #007bff;
  outline: none;
  background: #131324f6;
  border: 1px solid #202020;
  box-shadow: none;
}

.experience__wrapper {
  background: transparent;
  box-sizing: border-box;
  box-shadow: inset 0 0 1px 0 #202020, 0 0 1px 1px #202020;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 5px;
}

.roles {
  font-size: 18px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

.experience > .at {
  font-size: 19px;
  color: #007bff;
}

.company__name {
  color: #b96c00;
}

.date {
  font-size: 16px;
  font-family: Courier, monospace, 'Times New Roman', Times, Gotham, Helvetica;
}

.experiences__list {
  list-style-type: circle;
  padding-left: 0;
  font-size: 17px;
}

.banner {
  height: 10rem;
}

.cv__link__2 {
  font-size: 30px;
  background-color: #f0f0f0ed;
  color: #202020;
  border: none;
}

.cv__link__2:hover,
.cv__link__2:focus,
.cv__link__2:active {
  background-color: transparent;
  color: #202020;
  border-color: transparent;
  outline: 0;
  box-shadow: inset 0 0 1px 0 #202020, 0 0 1px 1px #202020;
}

.download__icon__2 {
  height: 45px;
  width: auto;
  position: relative;
  top: 2px;
  right: 0;
  filter: brightness(0.8) invert(0.2);
}
