.right__side {
  width: 50px;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  left: auto;
  right: 0;
  z-index: 10;
}

.left__side {
  width: 50px;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: auto;
  z-index: 10;
}

.right__side__mailto {
  background-color: var(--background-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.left__side__socialLinks {
  background-color: var(--background-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  list-style-type: none;
  position: relative;
  left: 0rem;
  padding-bottom: 17px;
  margin-bottom: 0px;
}

.left__side__socialLinks > li {
  margin-top: 12px;
}

.left__side__socialLinks > li > a {
  margin: 10px 0 0px;
  position: relative;
  left: -20px;
}

.left__side__socialLinks > li > a:hover {
  box-shadow: 0 0 3px 3px var(--primary-color);
}

.social__icons {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.right__side__mailto > a {
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  margin: 15px auto;
}

.email__link {
  color: var(--lighter-gray);
}

.toggle__side__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.side__content__toggle__btn {
  color: var(--lighter-gray);
  background-color: transparent;
  border: none;
  outline: none;
}

.side__content__toggle__btn.hovered {
  color: var(--primary-color);
}
