.App {
  width: 100%;
  max-width: 100%;
}

:root {
  --dark-black: #000;
  --black: #202020;
  --blue-black: #090f21;
  --indigo: #4b0082;
  --blue: #007bff;
  --transparent-midnight-blue: #131324dc;
  --midnight-blue: #131324;
  --light-blue: #393947be;
  --transparent-grey: rgba(210, 210, 210, 0.8);
  --light-navy: #172a45;
  --lightest-navy: #303c55;
  --white: #e5e5e5;
  --transparent-gray: #f0f0f0dc;
  --gray: #f0f0f0;
  --light-cyan: #e0ffff;
  --light-yellow: #ffffe0;
  --iridium: #9c9c92;
  --light-gray: #3a3232;
  --info: #17a2b8;
  --teal: #20c997;
  --viridian-light: #6eff70;
  --lime-green: #249524;
  --sun-color: orangered;
  --daisy: #9b5c03;
  --bright-pink: #ff007f;
  --accent-color: #dfdfa7;
  --lighter-gray: #505050;
  --primary-color: #0388fc;
}

body.light {
  --video: url(././assets/videos/video_1.mp4);
  --image: url('././assets/images/light-bg-1.jpg');
  --toggleIcon: url('././assets/images/moon.svg');
  --brightness: 0.8;
  --invert: 0.2;
  --text-color: var(--black);
  --link-color: var(--blue);
  --buttonHover-color: var(--midnight-blue);
  --buttonText-color: var(--white);
  --label-color: var(--daisy);
  --background-color: var(--gray);
  --chevron-color: var(--text-color);
  --frame-color: var(--transparent-grey);
  --transparent-bg: var(--transparent-gray);
}

body.dark {
  --video: url(././assets/videos/video_2.mp4);
  --image: url('././assets/images/dark-bg-3.jpg');
  --toggleIcon: url('././assets/images/sun.svg');
  --brightness: 0.2;
  --invert: 0.8;
  --text-color: var(--white);
  --link-color: var(--daisy);
  --buttonHover-color: var(--white);
  --buttonText-color: var(--black);
  --label-color: var(--viridian-light);
  --background-color: var(--midnight-blue);
  --chevron-color: var(--iridium);
  --frame-color: var(--light-blue);
  --transparent-bg: var(--transparent-midnight-blue);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  color: var(--text-color);
  transition: color 0.6s ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
}
