* {
  box-sizing: border-box;
}

html {
  font-size: 1.1rem;
}

body {
  margin: 0;
  font-family: Gotham, Helvetica, Arial, sans-serif, serif, Courier, monospace,
    'Times New Roman', Times;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-size: 36px;
}
